@import url('https://fonts.cdnfonts.com/css/poppins');

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background: rgb(225,225,225);
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	top: 0;
	left: 0;
	position: absolute;
	max-width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map_wrapper {
	max-width: 100%;
	position: relative;
}

.map_wrapper svg {
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	height: 100%;
}

.region {
	fill: none;
	stroke: #000;
	stroke-width: 5px;
	cursor: pointer;
	pointer-events: all;
}

.region:hover {
	fill: rgba(255,255,255,0.8);
}

.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background: #fff;
	border-radius: 14px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.info_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	transition: 0.3s all;
	pointer-events: none;
	z-index: 10;
}

.info_bg.active {
	pointer-events: all;
	opacity: 1;
	transition: 0.3s all;
}

.info img {
	border-radius: 5px;
}

.info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 20px;
	padding: 25px;
	width: 500px;
	text-align: justify;
}

.btn {
	margin-top: 15px;
	margin-left: 32%;
	position: relative;
	text-decoration: none;
	color: white;
	background: #359EE7;
	border-radius: 5px;
	padding: 7px 14px;
	transition: .6s;
}

.btn:hover {
	background: #226FA5;
}

@media only screen and (max-width: 600px) {
	.tooltip {
		font-size: 9px;
		padding: 3px;
	}

	.info {
		width: 75%;
	}

	.info_title {
		font-size: 23px;
	}
}
